
main {
  display:block;
  width: 900px;
  height: auto;
  background-color: transparent;
}

section {
  margin: 20px;
}

.top {
  width: 860px;
  float: left;
  /* background-color: turquoise; */
}

#first {
  width: 400px;
  float: left;
  border-right: 1px solid #676867;
  padding-right: 20px;
}

#second {
  width: 400px;
  float: right;
  /* background-color: red;*/
  margin-left: -20px;
} 