.btn-one {
  background: #245ff7;
  border-color: transparent !important;
  color: #fff !important;
  border-radius: 5px;
  padding: 10px 25px !important;
  width: 200px;
  text-align: center;
  margin: 10px 15px;
}

.btn-one:hover {
  background: #43D0FF;
}
