@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.block-effect {
  font-size: 40px;
  position: absolute;
  text-align: center;
  font-family: 'Nerko One', cursive;
  width: 350px;
  text-align: center;
  top: 24%;
}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlock 5s var(--t) forwards;
  animation-iteration-count: infinite;
  -moz-animation: revealBlock 5s var(--t) forwards;
  -moz-animation-iteration-count: infinite; 
  -webkit-animation: revealBlock 5s var(--t) forwards;
  -webkit-animation-iteration-count: infinite;
  -o-animation: revealBlock 5s var(--t) forwards;
  -o-animation-iteration-count: infinite;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  animation-iteration-count: infinite;
  -moz-animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  -moz-animation-iteration-count: infinite; 
  -webkit-animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  -webkit-animation-iteration-count: infinite;
  -o-animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
  -o-animation-iteration-count: infinite;
}


@keyframes revealBlock {
  33.3% {color: #1e3d59;}
  66.6% {color: #B9191E;}
  100% {color: transparent;}
}
@-moz-keyframes revealBlock {
  33.3% {color: #1e3d59;}
  66.6% {color: #B9191E;}
  100% {color: transparent;}
}
@-webkit-keyframes revealBlock {
  33.3% {color: #1e3d59;}
  66.6% {color: #B9191E;}
  100% {color: transparent;}
}
@-o-keyframes revealBlock {
  33.3% {color: #1e3d59;}
  66.6% {color: #B9191E;}
  100% {color: transparent;}
}

@keyframes revealingIn {
  0% {width: 0;}
  100% {width: 100%;}
}
@-moz-keyframes revealingIn {  
  0% {width: 0;}
  100% {width: 100%;}
}
@-webkit-keyframes revealingIn {
  0% {width: 0;}
  100% {width: 100%;}
}
@-o-keyframes revealingIn {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes revealingOut {
  0% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}
@-moz-keyframes revealingOut {
  0% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}
@-webkit-keyframes revealingOut {
  0% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}
@-o-keyframes revealingOut {
  0% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}