.header {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
} 

.header-flex {
   display: flex;
   align-items: flex-end;
}

.header-nav {
   display: flex;
}

.about-nav {
   display: flex;
   justify-content: space-between;
}

/* .about-nav-link {
   flex-grow: 1;
   
} */
