body {
   background-color: #9799A6;
   font-family: 'Open Sans', Arial, sans-serif;
}



.container {
   width: 95%;
   margin: 0 auto;
   border-top: 10px solid #fc5185;
}

.header {
   background-color: #FFF;
   transition: .3s;
}

.navbar {
   background-color: #FFF;

}

.header-banner a {
   text-decoration: none;
   color: inherit;
}

.title h1 {
   font-size: 2.5em;
   font-weight: bolder;
   padding-left: 10px;
}

.header-nav {
   width: auto;
   display: auto;
}

.header-nav-link {
   padding: 10px;
   margin-bottom: 10px;
   color: #9799A6;
   background-color: #323232;
   text-decoration: none;
   transition: .5s;
   display: block;
   border-bottom: 1px solid #323232;
   width: auto;
   margin: 0 0 0 10px;
   border-radius: 5px;
   border: 1px solid #9799A6;
}


.about {
   background-color: #6c586c;
}

.about-nav {
   width: auto;
}

.about-nav-link {

}

.about-nav-link:hover {
   color: #FFF;
   background-color: #9799A6;
}

.content1 {
   background-color: #fff;
   border: 2px solid #CCC;
}

.content2 {
   background-color: #fff;
   border: 2px solid #CCC;
}

.sidebar {
   background-color: #fff;
   border: 2px solid #CCC;
}


.footer {
   background-color: #212121;
   color: #ccc;
}

.footer-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;
	border-bottom: 1px solid #9799A6;
}

.footerMain {
   text-align: center;
   margin-top: 20px;
}

.toggle {
   visibility: hidden;
}

@media only screen and (max-width: 769px) {
   .toggle {
      visibility: visible;
   }

   #header-nav-hidder {
      display: none;
   }

   .title h1 {
      font-size: 1.6em;
      font-weight: bolder;
   }

   .header-banner {
		margin: 0;
	}

	.header-nav {
		width: auto;
	}


/* 
   .footer-nav-link  {
      width: auto;
		margin: 0 0 0 10px;
		border-radius: 5px;
		border: 1px solid #9799A6;
   }

   .footer-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	} */

}