@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
  display: block;
  width: 900px;
  height: auto;
  background-color: transparent;
}

p {
  text-align: justify;
  text-indent: 50px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 20px;
}

#w3 {
  width: 550px;
  float: left;
}

#guida {
  width: 550px;
  float: left;
}

#power {
  width: 860px;
  float: right;
  position: relative;
  left: 0%;
}

.opacityBox {
  width: 860px;
  height: 90px;
  position: absolute;
  background-color: transparent;
  top: 51.5%;
}

.opacityBox h2 {
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  letter-spacing: 0.1em;
  color: transparent;
  font-size: 36px;
  text-align: center;
}

#first {
  width: 400px;
  float: left;
  padding: 20px;
  background-color: #d7d7d7;
  border-radius: 10px;
}

#second {
  width: 400px;
  float: right;
  margin-left: -20px;
}